# Core functionality - changes here should be rare!
/src/app.py                   @kayadibi1
/src/backend/database.py      @kayadibi1
/src/backend/routers/auth.py  @kayadibi1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kayadibi1
